body {
  font-family: 'Open Sans', sans-serif;
  background-color: #674BAF;
  color: #FFFFFF;

}

h1 {
  font-family: 'Poppins', sans-serif;
}



.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #FFFFFF;
}
